.farm {
  margin-bottom: 200px;
  @include mobile {
    margin-bottom: 100px;
  }
  &__title {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 48px;
    line-height: 119.9%;
    color: var(--title);
    text-align: center;
    @include mobile {
      font-size: 24px;
      line-height: 119.9%;
      margin-bottom: 50px;
    }
  }

  &__item {
    padding: 12px 24px 12px 14px;
    margin: 0 auto 40px;
    max-width: 744px;
    width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
    border-radius: 64px 24px 24px 64px;
    &:last-child {
      margin: 0 auto 0;
    }
    @include tablet {
      padding: 24px;
      max-height: 100%;
      flex-direction: column;
      margin-bottom: 30px;
      box-shadow: 0px 4px 20px rgba(27, 17, 8, 0.1);
      border-radius: 16px;
    }
  }

  &__item-left {
    max-height: 76px;
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px dashed rgba(42, 169, 21, 0.32);
    @include tablet {
      width: 100%;
      border-right: none;
      justify-content: center;
      max-height: auto;
      margin-bottom: 20px;
    }
    @include small-mobile {
      align-items: start;
    }
  }

  &__images {
    max-width: 100px;
    margin-right: 12px;
    @include small-mobile {
      max-width: 48px;
    }
  }

  &__text {
    padding-right: 12px;
    @include tablet {
      padding-right: 0;
    }
  }

  &__item-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--title);
    @include small-mobile {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__item-text {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 119.9%;
    color: var(--txt);
    @include small-mobile {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__item-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      width: 100%;
      border-right: none;
      justify-content: center;
    }
  }

  &__item-info {
    margin-left: 34px;
    @include tablet {
      margin-left: 0;
      margin-right: 130px;
    }
    @include small-mobile {
      margin-right: 30px;
    }
  }

  &__item-descr {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--txt);
    @include small-mobile {
      margin-bottom: 4px;
    }
  }

  &__item-num {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent);
  }

  &__item-btn {
    padding: 8px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--accent);
    background: rgba(42, 169, 21, 0.18);
    border-radius: 8px;
    transition: all 0.3s;
    &:hover {
      color: var(--light);
      background: var(--accent-gr);
    }
  }
}
