.farm {
  margin-bottom: 200px;
  &__title {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 48px;
    line-height: 119.9%;
    color: var(--title);
    text-align: center;
  }

  &__content {
  }

  &__item {
    padding: 12px 24px 12px 14px;
    margin: 0 auto 40px;
    max-width: 744px;
    width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;

    background: #ffffff;
    box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
    border-radius: 64px 24px 24px 64px;
    &:last-child {
      margin: 0 auto 0;
    }
  }

  &__item-left {
    max-height: 76px;
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 2px dashed rgba(42, 169, 21, 0.32);
  }

  &__images {
    min-width: 100px;
    margin-right: 12px;
  }
  &__farm__image {
  }
  &__text {
    padding-right: 12px;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--title);
  }

  &__item-text {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 119.9%;
    color: var(--txt);
  }

  &__item-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-info {
    margin-left: 34px;
  }

  &__item-descr {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--txt);
  }

  &__item-num {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent);
  }

  &__item-btn {
    padding: 8px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--accent);
    background: rgba(42, 169, 21, 0.18);
    border-radius: 8px;
    transition: all 0.3s;
    &:hover {
      color: var(--light);
      background: var(--accent-gr);
    }
  }
}
