.featured {
  margin-bottom: 110px;
  position: relative;
  @include mobile {
    margin-bottom: 40px;
  }
  &::before {
    background-image: url("../img/featured-decor.svg");
    background-repeat: no-repeat;
    background-size: cover;
    @include pseudo;
    position: absolute;
    width: 426px;
    height: 382px;
    bottom: -400px;
    @include tablet {
      display: none;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 48px;
    line-height: 119.9%;
    color: var(--title);
    text-align: center;
    @include mobile {
      font-size: 24px;
      line-height: 119.9%;
      margin-bottom: 50px;
    }
  }
  &__ticker {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    &--audited {
      margin-bottom: 170px;
    }
    @include mobile {
      margin-bottom: 80px;
    }
  }
  &__ticker-wrapper {
    display: flex;
    animation: marquee 20s linear infinite;
    flex-shrink: 0;
  }

  &__image {
    width: 356px;
    padding: 0 20px;
    &--audited {
      width: 251px;
      height: 40px;
    }
  }
  @keyframes marquee {
    0% {
      transform: translateZ(0%);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    @include desktop {
      flex-wrap: wrap;
    }
  }

  &__card {
    @include mr(24px);
    position: relative;
    padding: 168px 64px 32px 32px;
    width: 552px;
    background-color: #bbdbb5;
    box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
    border-radius: 24px;
    background-image: url("../img/featured/card1.svg");
    background-repeat: no-repeat;
    background-position: top right;

    &:nth-child(2) {
      background-image: url("../img/featured/card2.svg");
    }
    @include desktop {
      @include mr(0);
      width: 100%;
      margin-bottom: 30px;
    }
    @include mobile {
      padding: 102px 36px 24px 16px;
      background-size: 50%;
    }
  }

  &__card-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 40px;
    line-height: 119.9%;
    color: var(--light);
    @include mobile {
      font-size: 24px;
      line-height: 119.9%;
      margin-bottom: 8px;
    }
  }

  &__card-text {
    margin: 0;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: var(--light);
    @include mobile {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }

  &__card-btn {
    padding: 16px 9px;
    @include mobile {
      padding: 10px 16px;
    }
  }
}
