.header {
  position: fixed;
  padding-top: 20px;
  width: 100%;
  top: 0;
  z-index: 5;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    @include small-tablet {
      display: none;
    }
  }
}
.btn--active {
  display: block;
  position: absolute;
  padding: 10px 16px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -600%;
}
