.info {
  margin-bottom: 186px;
  &__title {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 42px;
  }

  &__item {
    flex-basis: 192px;

    padding: 30px 18px 20px;
    text-align: center;
    border: 2px solid rgba(42, 169, 21, 0.2);
    box-shadow: 0px 4px 28px rgba(27, 17, 8, 0.06);
    border-radius: 24px;
    &:nth-child(6) {
      grid-column: 2;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 9px;
  }

  &__text {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 119.9%;
    color: var(--txt);
  }

  &__num {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--accent);
  }
}
