<section class="ecosystem">
  <div class="container">
    <h2 class="ecosystem__title"><span>FarmGrow</span> Ecosystem</h2>
    <ul class="ecosystem__list list-reset">
      <li class="ecosystem__item">
        <div class="ecosystem__imgbox">
          <div class="ecosystem__imgbox-item">
            <img class="ecosystem__imgbox-icon" loading="lazy" src="img/ecosystem/exchange.svg" width="" height=""
              alt="exchange icon">
          </div>
        </div>
        <p class="ecosystem__list-title">Exchange </p>
        <p class="ecosystem__list-text">Change your <span>$FARM</span> tokens for many other Tokens</p>
      </li>
      <li class="ecosystem__item">
        <div class="ecosystem__imgbox">
          <div class="ecosystem__imgbox-item">
            <img class="ecosystem__imgbox-icon" loading="lazy" src="img/ecosystem/farm.svg" width="" height=""
              alt="farm icon">
          </div>
        </div>
        <p class="ecosystem__list-title">Farm </p>
        <p class="ecosystem__list-text">Farm your LP tokens and earn <span>$FARM</span> tokens in return</p>
      </li>
      <li class="ecosystem__item">
        <div class="ecosystem__imgbox">
          <div class="ecosystem__imgbox-item">
            <img class="ecosystem__imgbox-icon" loading="lazy" src="img/ecosystem/stake.svg" width="" height=""
              alt="stake icon">
          </div>
        </div>
        <p class="ecosystem__list-title">Stake </p>
        <p class="ecosystem__list-text">Stake <span>$FARM</span> Tokens up to 100% APY</p>
      </li>
      <li class="ecosystem__item">
        <div class="ecosystem__imgbox">
          <div class="ecosystem__imgbox-item">
            <img class="ecosystem__imgbox-icon" loading="lazy" src="img/ecosystem/referal.svg" width="" height=""
              alt="referal icon">
          </div>
        </div>
        <p class="ecosystem__list-title">Referral </p>
        <p class="ecosystem__list-text">Reffer your friend and earn more</p>
      </li>
      <li class="ecosystem__item">
        <div class="ecosystem__imgbox">
          <div class="ecosystem__imgbox-item">
            <img class="ecosystem__imgbox-icon" loading="lazy" src="img/ecosystem/liquidity.svg" width="" height=""
              alt="liquidity icon">
          </div>
        </div>
        <p class="ecosystem__list-title">Liquidity Pools </p>
        <p class="ecosystem__list-text">Change your <span>$FARM</span> tokens for many other Tokens</p>
      </li>
      <li class="ecosystem__item">
        <div class="ecosystem__imgbox">
          <div class="ecosystem__imgbox-item">
            <img class="ecosystem__imgbox-icon" loading="lazy" src="img/ecosystem/lottery.svg" width="" height=""
              alt="lottery icon">
          </div>
        </div>
        <p class="ecosystem__list-title">Lottery </p>
        <p class="ecosystem__list-text">Try your luck in lottery</p>
      </li>
    </ul>
    <button class="ecosystem__btn btn-reset btn-main">Start Earning</button>
  </div>
</section>
