<section class="extra">
  <div class="container">
    <div class="extra__inner">
      <div class="extra__imgbox">
        <img class="extra__img" src="img/extra/extra.png" alt="diagram image">
      </div>

      <div class="extra__info">
        <h2 class="extra__info-title">Earn Extra Yield</h2>
        <p class="extra__info-suptitle">Let Harvest do the hard work</p>
        <ul class="extra__info-list list-reset">
          <li class="extra__info-item">
            <div class="extra__info-icon">
              <svg class="extra__info-img">
                <use xlink:href="img/sprite.svg#1"></use>
              </svg>
            </div>
            <span class="extra__info-text">Auto-compounding</span>
          </li>
          <li class="extra__info-item">
            <div class="extra__info-icon">
              <svg class="extra__info-img">
                <use xlink:href="img/sprite.svg#2"></use>
              </svg>
            </div>
            <span class="extra__info-text">Auto rewards</span>
          </li>
          <li class="extra__info-item">
            <div class="extra__info-icon">
              <svg class="extra__info-img">
                <use xlink:href="img/sprite.svg#3"></use>
              </svg>
            </div>
            <span class="extra__info-text">Farm rewards</span>
          </li>
          <li class="extra__info-item">
            <div class="extra__info-icon">
              <svg class="extra__info-img">
                <use xlink:href="img/sprite.svg#4"></use>
              </svg>
            </div>
            <span class="extra__info-text">Unique DAO token rewards</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
