<section class="farm">
  <div class="container">
    <h2 class="farm__title">Farm</h2>
    <div class="farm__content">
      <div class="farm__item">
        <div class="farm__item-left">
          <div class="farm__images">
            <img class="farm__image" loading="lazy" src="img/farm/farm1.svg" width="" height="" alt="">
          </div>
          <div class="farm__text">
            <p class="farm__item-title">Earn FARM - BNB</p>
            <p class="farm__item-text">Stake FARM - Earn FARM</p>
          </div>
        </div>
        <div class="farm__item-right">
          <div class="farm__item-info">
            <p class="farm__item-descr">APR</p>
            <p class="farm__item-num">78.2 %</p>
          </div>
          <button class="farm__item-btn btn-reset">Start Earning</button>
        </div>
      </div>
      <div class="farm__item">
        <div class="farm__item-left">
          <div class="farm__images">
            <img class="farm__image" loading="lazy" src="img/farm/farm2.svg" width="" height="" alt="">
          </div>
          <div class="farm__text">
            <p class="farm__item-title">Earn FARM - BNB</p>
            <p class="farm__item-text">Stake FARM - Earn FARM</p>
          </div>
        </div>
        <div class="farm__item-right">
          <div class="farm__item-info">
            <p class="farm__item-descr">APR</p>
            <p class="farm__item-num">78.2 %</p>
          </div>
          <button class="farm__item-btn btn-reset">Start Earning</button>
        </div>
      </div>
      <div class="farm__item">
        <div class="farm__item-left">
          <div class="farm__images">
            <img class="farm__image" loading="lazy" src="img/farm/farm3.svg" width="" height="" alt="">
          </div>
          <div class="farm__text">
            <p class="farm__item-title">Auto-compound</p>
            <p class="farm__item-text">Stake BSW - Earn BSW</p>
          </div>
        </div>
        <div class="farm__item-right">
          <div class="farm__item-info">
            <p class="farm__item-descr">APR</p>
            <p class="farm__item-num">28.5 %</p>
          </div>
          <button class="farm__item-btn btn-reset">Start Earning</button>
        </div>
      </div>
    </div>
  </div>
</section>
