<section class="featured">
  <div class="container">
    <h2 class="featured__title">Featured In</h2>
    <div class="featured__ticker">
      <div class="featured__ticker-wrapper">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured1.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured2.svg" class="featured__image" width="" height="" alt="">
        <img loading="lazy" src="img/featured/featured3.svg" class="featured__image" width="" height="" alt="">

      </div>
    </div>
    <h2 class="featured__title">Audited By</h2>
    <div class="featured__ticker featured__ticker--audited">
      <div class="featured__ticker-wrapper">
        <img loading="lazy" src="img/featured/featured4.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured5.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured6.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured7.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured4.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured5.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured6.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured7.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured4.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured5.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured6.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
        <img loading="lazy" src="img/featured/featured7.png" class="featured__image featured__image--audited" width=""
          height="" alt="">
      </div>
    </div>
    <div class="featured__cards">
      <div class="featured__card">
        <h4 class="featured__card-title">Farm Token</h4>
        <p class="featured__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id in nec nullam
          faucibus et</p>
        <button class="featured__card-btn btn-reset btn-main">Start Earning</button>
      </div>
      <div class="featured__card">
        <h4 class="featured__card-title">Contribute and Earn</h4>
        <p class="featured__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id in nec nullam
          faucibus et</p>
        <button class="featured__card-btn btn-reset btn-main">Start Earning</button>
      </div>
    </div>
  </div>
</section>
