<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="logo" src="img/logo.svg" alt="Logo FarmGrow">
      <nav class="nav" title="">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Tokenomics</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Statistics</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        </ul>
      </nav>
      <button class="header__btn btn-reset btn-main">Start Earning</button>
    </div>
  </div>
</header>
