<section class="hero">
  <div class="hero__wrapper">
    <div class="container-fluid">
      <div class="hero__inner">
        <div class="hero__info">
          <h1 class="hero__title">Earn Yield on <br><span>Your Crypto</span></h1>
          <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id in nec nullam faucibus et
          </p>
          <button class="hero__btn btn-reset">Start Earning</button>
        </div>
        <div class="hero__imgbox">
          <div class="hero__imgbox-item">
            <img class="hero__img" src="img/hero-img.png" alt="icons in circle">
          </div>
        </div>
      </div>
      <div class="hero__video">
        <div class="hero__video-play">
          <svg class="hero__video-btn">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
