<section class="info">
  <div class="container">
    <h2 class="info__title">Information</h2>
    <ul class="info__list list-reset">
      <li class="info__item">
        <img class="info__icon" loading="lazy" src="img/info/1.svg" width="" height="" alt="">
        <p class="info__text">Total Volume</p>
        <p class="info__num">$ 48.36B</p>
      </li>
      <li class="info__item">
        <img class="info__icon" loading="lazy" src="img/info/2.svg" width="" height="" alt="">
        <p class="info__text">24H Volume</p>
        <p class="info__num">$33.70M</p>
      </li>
      <li class="info__item">
        <img class="info__icon" loading="lazy" src="img/info/3.svg" width="" height="" alt="">
        <p class="info__text">Active Users</p>
        <p class="info__num">486.59K</p>
      </li>
      <li class="info__item">
        <img class="info__icon" loading="lazy" src="img/info/4.svg" width="" height="" alt="">
        <p class="info__text">Trade Fee Saved</p>
        <p class="info__num">$ 116.05M </p>
      </li>
      <li class="info__item">
        <img class="info__icon" loading="lazy" src="img/info/5.svg" width="" height="" alt="">
        <p class="info__text">LP Earned</p>
        <p class="info__num">$ 24.18M</p>
      </li>
      <li class="info__item">
        <img class="info__icon" loading="lazy" src="img/info/6.svg" width="" height="" alt="">
        <p class="info__text">Active Pools</p>
        <p class="info__num">$ 34.36B</p>
      </li>
      <li class="info__item">
        <img class="info__icon" loading="lazy" src="img/info/7.svg" width="" height="" alt="">
        <p class="info__text">TVL</p>
        <p class="info__num">$33.70M</p>
      </li>
      <li class="info__item">
        <img class="info__icon" loading="lazy" src="img/info/8.svg" width="" height="" alt="">
        <p class="info__text">Circulating supply</p>
        <p class="info__num">486.59K</p>
      </li>
    </ul>
  </div>
</section>
