<section class="pools">
  <div class="container">
    <h2 class="pools__title">Upcoming Pools</h2>
    <div class="pools__content">
      <div class="pools__item">
        <img loading="lazy" src="img/pools/pools1.svg" class="pools__image" width="" height="" alt="">
        <div class="pools__textbox">
          <p class="pools__textbox-title">Earn FARM - BNB</p>
          <p class="pools__textbox-text">Stake FARM - Earn FARM</p>
        </div>
        <div class="pools__right">
          <div class="pools__rightbox">
            <p class="pools__rightbox-title">APR</p>
            <p class="pools__rightbox-num">78.2 %</p>
          </div>
          <button class="pools__right-btn btn-reset">Start Earning</button>
        </div>

      </div>
      <div class="pools__item">
        <img loading="lazy" src="img/pools/pools2.svg" class="pools__image" width="" height="" alt="">
        <div class="pools__textbox">
          <p class="pools__textbox-title">Earn FARM - BNB</p>
          <p class="pools__textbox-text">Stake FARM - Earn FARM</p>
        </div>
        <div class="pools__right">
          <div class="pools__rightbox">
            <p class="pools__rightbox-title">APR</p>
            <p class="pools__rightbox-num">78.2 %</p>
          </div>
          <button class="pools__right-btn btn-reset">Start Earning</button>
        </div>

      </div>
      <div class="pools__item">
        <img loading="lazy" src="img/pools/pools3.svg" class="pools__image" width="" height="" alt="">
        <div class="pools__textbox">
          <p class="pools__textbox-title">Earn FARM - BNB</p>
          <p class="pools__textbox-text">Stake FARM - Earn FARM</p>
        </div>
        <div class="pools__right">
          <div class="pools__rightbox">
            <p class="pools__rightbox-title">APR</p>
            <p class="pools__rightbox-num">78.2 %</p>
          </div>
          <button class="pools__right-btn btn-reset">Start Earning</button>
        </div>

      </div>
      <div class="pools__item">
        <img loading="lazy" src="img/pools/pools4.svg" class="pools__image" width="" height="" alt="">
        <div class="pools__textbox">
          <p class="pools__textbox-title">Earn FARM - BNB</p>
          <p class="pools__textbox-text">Stake FARM - Earn FARM</p>
        </div>
        <div class="pools__right">
          <div class="pools__rightbox">
            <p class="pools__rightbox-title">APR</p>
            <p class="pools__rightbox-num">78.2 %</p>
          </div>
          <button class="pools__right-btn btn-reset">Start Earning</button>
        </div>

      </div>
    </div>
  </div>
</section>
